:root {
  --dark-grey: #3c3c3c;
  --light-grey: #454545;
  --dark-blue: #375a7f;
  --light-blue: #5489c2;
}

/* ################ CARD STYLE ################ */

.card-style {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#product-title {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--dark-grey);
  border: none;
}

.product-price {
  margin: 10px;
}

.card-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-margin {
  margin-top: 50px;
}

/* ################ SEARCH BAR ################ */

.search-bar {
  background-color: var(--dark-grey);
  border: 1px solid #000;
  color: #fff;
}

.search-bar:hover {
  background-color: var(--light-grey);
  border: 1px solid #000;
  color: #fff;
}

/* ################ FLOATTING BUTTON ################ */

.floatting-button-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.floatting-button-container a {
  text-decoration: none;
  color: var(--dark-blue);
}

.floatting-button-container a:hover {
  text-decoration: none;
  color: var(--dark-blue);
}

.floatting-button {
  font-size: 60px;
}

.floatting-button:hover {
  color: var(--light-blue);
  transition: 1s;
}

/* ################ HEADER ################ */

.header {
  background-color: var(--light-grey);
  text-align: center;
  color: #fff;
  padding: 5px;
}

/* ################ FORM ################ */

.hide-form {
  display: none;
}

.form-margin {
  margin: 0 50px 50px 50px;
}

/* ################ GENERIC ################ */

.margin-10 {
  margin: 10px;
}
