.card-style {
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#product-title {
  font-size: 18px;
  font-weight: bold;
  background-color: #3c3c3c;
  border: none;
}

.product-price {
  margin: 10px;
}

.margin-10 {
  margin: 10px;
}

.card-btns {
  position: relative;
  bottom: 0;
}

.card-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("https://cdn.onlinewebfonts.com/svg/img_357713.png");
}

.hide-form {
  display: none;
}

.card-margin {
  margin-top: 50px;
}

.form-margin {
  margin: 0 50px 50px 50px;
}

.floatting-button-container {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.floatting-button-container a {
  text-decoration: none;
  color: #375a7f;
}

.floatting-button-container a:hover {
  text-decoration: none;
  color: #375a7f;
}

.search-bar {
  background-color: #3c3c3c;
  border: 1px solid #000;
  color: #fff;
}

.search-bar:hover {
  background-color: #454545;
  border: 1px solid #000;
  color: #fff;
}

.search-bar-icon {
  background-color: #3c3c3c;
  border: 1px solid #000;
}

.search-bar-input {
  width: 400px;
}

.header {
  background-color: #454545;
  text-align: center;
  color: #fff;
  padding: 5px;
}

.floatting-button {
  font-size: 60px;
}

.floatting-button:hover {
  color: #5489c2;
  transition: 1s;
}
