.card-style {
  text-align: center;
  border-radius: 10px;
  background-color: #3c3c3c;
  margin: 40px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  margin: 10px;
}

.margin-10 {
  margin: 10px;
}

.card-btns {
  position: relative;
  bottom: 0;
}

.card-img {
  box-sizing: content-box;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 50%;
}

.hide-form {
  display: none;
}

.card-margin {
  margin-top: 50px;
}

.form-margin {
  margin: 0 50px 50px 50px;
}

.floatting-button-container {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.floatting-button-container a {
  text-decoration: none;
  color: #375a7f;
}

.floatting-button-container a:hover {
  text-decoration: none;
  color: #375a7f;
}

.search-bar {
  background-color: #3c3c3c;
  border: 1px solid #000;
  color: #fff;
  margin: 20px;
  width: 80%;
}

.search-bar:hover {
  background-color: #454545;
  border: 1px solid #000;
  color: #fff;
}

.search-bar-icon {
  background-color: #3c3c3c;
  border: 1px solid #000;
}

.search-bar-input {
  width: 400px;
}
